@{
    ViewData["Title"] = "Home";
}

<div id='app'>Loading...</div>

@section scripts {
    <script src="~/lib/signalr.min.js"></script>
    <script src="~/lib/msgpack5.min.js"></script>
    <script src="~/lib/signalr-protocol-msgpack.min.js"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
